:host {
  display: block;
}

.donut-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: var(--donut-size);
  max-height: var(--donut-size);
}

.donut-chart {
  width: 100%;
  height: 100%;
  position: relative;
}

.circle-bg {
  fill: none;
  stroke: var(--ps-core-color-gray-10);
  stroke-width: 4.2;
}

.circle {
  fill: none;
  stroke-width: 4.2;
  transition: stroke-dasharray 0.6s ease 0s;
  transform: rotate(180deg);
  transform-origin: 50% 50%;
}

.percentage {
  color: $primary-black;
  font-family: var(--ps-theme-font-family);
  font-size: var(--ps-theme-font-size-heading-xl);
  font-style: normal;
  font-weight: var(--ps-theme-font-weight-normal);
  text-anchor: middle;
}

.completed {
  color: $primary-black;
  font-family: var(--ps-theme-font-family);
  font-size: var(--ps-theme-font-size-paragraph-s);
  font-style: normal;
  font-weight: var(--ps-theme-font-weight-normal);
  text-anchor: middle;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.donut-caption {
    position: relative;
    right: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
   }
